PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=
DB_DATABASE=postgres
DB_SSL=true
DB_SYNCHRONIZE=false
JWT_SECRET=
JWT_EXPIRES_IN=1d
OTP_EXPIRES_MINUTES=10
OTP_MAX_ATTEMPTS=5
